.header-box {
  background: #fcdc36;
  flex-shrink: 0;
  height: 52px;
  display: flex;
  width: 360px;
  justify-content: center;
}

.header-title {
  color: #41197f;
  flex-shrink: 0;
  height: 16.972px;
  font-weight: 700;
  width: 109.131px;
  text-transform: uppercase;

}

.header-icon {
  color: #41197f;
  height: 26.85px;
  width: 26.845px;
}

.page-title {
  color: #41197f;
  font-size: 20px;
  width: 147px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  margin-bottom: 180px;
  margin-top: 40px;
  margin-left: 100px;
  text-transform: uppercase;
}

.searchbar-box {
  background: #41197f;
  border-radius: 10px;
  flex-shrink: 0;
  height: 88px;
  color: #ffffff;
  width: 338px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.search-input {
  background: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  height: 40px;
  margin-top: 140px;
  width: 338px;
}