.searchbar-modules {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchbar-btn {
  background: #fcc436;
  border-radius: 5px;
  color: white;
  flex-shrink: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 25px;
  letter-spacing: 0.36px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 208.159px;
}
